country=CANADA
company=ARCELORMITTAL
mine_name=MONT_WRIGHT
recording_engineer=DOUG_KIRKBY
rig_model=49HR
rig_manufacturer=BUCYRUS
rig_id=W226
drill_type=1
mwd_type=1
bit_type=1
bit_model=EPIROC_2135
bit_size=13.75
bit_date=1970-01-01
drill_string_total_length=22.5
drill_string_steel_od=10.75
drill_string_component1=1
drill_string_component2=1
drill_string_component3=1
drill_string_component4=1
drill_string_component5=1
drill_string_component6=1
drill_string_component7=-1
drill_string_component8=-1
drill_string_component9=-1
drill_string_component10=-1
sensor_type=1
sensor_serial_number=5451
sensor_accelerometer_type=8
sensor_ideal_sampling_rate=2800
sensor_saturation_g=500
sensor_position=0.15
sensor_installation_diameter=24
sensor_axial_axis=1
sensor_tangential_axis=2
comments=DID NOT ASK FOR BIT DATE
