TRACELENGTH=1
OUTPUTSAMPLINGRATE=2800
XSENSITIVITY=1000
YSENSITIVITY=1000
ZSENSITIVITY=6.621
CHANNELSPERSENSOR=3
deconvolution_filter_duration=0.100
min_lag_trimmed_trace=-0.100
max_lag_trimmed_trace=0.100
trapezoidal_bpf_corner_1=80.
trapezoidal_bpf_corner_2=100.
trapezoidal_bpf_corner_3=300.
trapezoidal_bpf_corner_4=350.
trapezoidal_bpf_duration=0.02
