div.geotoolkit-preview-plot-host {
    border:1px solid #0a0a0a;
    position:absolute;
    left:5px;
    right:5px;
    bottom:5px;
    width:190px;
    height:200px;
}

canvas#geotoolkit-preview-plot {
    position:absolute;
    left:1px;
    top:1px;
    border: 0px solid #000000;
    -ms-content-zooming: none; /* Disables zooming for IE*/
    -ms-touch-action: none; /* Disable any special actions on tap/touch for IE10*/
    touch-action: none; /* Disable any special actions on tap/touch for IE11*/
}

.geo-tooltip .geo-tooltiptext {
    visibility: hidden;
    width: 240px;
    color: #fff;
    text-align: left;
    background-color: rgba(51,114,185, 0.8);
    border-radius: 6px;
    border: solid 1px rgba(51,114,185, 1);
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;

    bottom: 100%;
    margin-bottom: 10px;
    left: 10px;
}

.geo-tooltip .geo-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.geo-tooltip:hover .geo-tooltiptext {
    visibility: visible;
    opacity: 1;
}

canvas#WellLogWidget {
    -ms-content-zooming: none; /* Disables zooming for IE*/
    -ms-touch-action: none; /* Disable any special actions on tap/touch for IE10*/
    touch-action: none; /* Disable any special actions on tap/touch for IE11*/
}
canvas#WellLogWidgetDocumentView {
    -ms-content-zooming: none; /* Disables zooming for IE*/
    -ms-touch-action: none; /* Disable any special actions on tap/touch for IE10*/
    touch-action: none; /* Disable any special actions on tap/touch for IE11*/
}

.input-group-addon, .btn, .form-control {
    border-radius: 2px;
}

.form-control {
    height: 31px;
    padding: 0px 6px;
}

#curvesNavBar {
    background: transparent;
    border: hidden;
}

#curvesSideBar {
    position: absolute;
    display: none;
    background: rgba(248, 248, 248, 1.0);
    left: 0px;
    top: 3px;
    bottom: 0px;
    width: 200px;
    overflow: auto;
    border-color: #e7e7e7;
    border-radius: 4px;
}

.ui-draggable {
    -ms-touch-action: none; /* Disable any special actions on tap/touch for IE10*/
    touch-action: none; /* Disable any special actions on tap/touch for IE11*/
}

.curve-text {
    position: relative;
    bottom: 0px;
    top: 0px;
    right: 0px;
    width: 120px;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.list-group-item:hover {
    background-color: #ddd;
}
.list-group {
    overflow-y: auto;
}

.selected {
    background-color: #c0c0EE;
    white-space: nowrap;
}

.dragListItem {
    padding: 2px 5px;
    opacity: 0.5;
}

.sidebar-nav{
    display: none;      /* Sidebar hidden by default */
    width: 200px;
    height: 100%;
    float: left;
}
